
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
<title>Shraddha Polyclinic and Nursing Home</title>

<!-- Stylesheets -->
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="css/responsive.css" rel="stylesheet">

<!--Color Themes-->
<link id="theme-color-file" href="css/color-themes/default-theme.css" rel="stylesheet">

<!--Color Switcher Mockup-->
<link href="css/color-switcher-design.css" rel="stylesheet">

<link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
<link rel="icon" href="images/favicon.png" type="image/x-icon">

<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">



<!--<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6674847147291098"-->
<!--     crossorigin="anonymous"></script>-->    </head>

    <body>

        <div class="page-wrapper">

            <!-- Preloader -->
            <div class="preloader"></div>

            <!-- Main Header-->
            <header class="main-header header-style-one">

        <!-- Header top -->
        <div class="header-top">
            <div class="auto-container">
                <div class="inner-container">
                    <div class="top-left">
                        <ul class="contact-list clearfix">
                            <li><i class="flaticon-hospital-1"></i>1<sup>st</sup> Floor, Smruti Mandir, Ganesh Gawade Rd, Mulund West, Mumbai. </li>
                            <li><i class="flaticon-back-in-time"></i>OPEN 24 Hours</li>
                        </ul>
                    </div>
                    <div class="top-right">
                        <ul class="social-icon-one">
                            <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                            <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                            <li><a href="#"><span class="fab fa-skype"></span></a></li>
                            <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Header Top -->
        
        <!-- Header Lower -->
        <div class="header-lower">
            <div class="auto-container">    
                <!-- Main box -->
                <div class="main-box">
                    <div class="logo-box">
                        <div class="logo"><a href="index.php"><img class="nabh-logo"src="images/nabh-logo.png" alt=""/><img class="sharddha-logo"src="images/shraddhaLogo.png" alt="" title=""></a></div>
                        
                    </div>

                    <!--Nav Box-->
                    <div class="nav-outer">
                        <nav class="nav main-menu">
                            <ul class="navigation" id="navbar">
                                <li class=""><a href="index">Home</a></li>
                                <li class=" current"><a href="about">About</a></li>
                                <li class=""><a href="services">Services</a></li>
                                <li class=""><a href="our_doctors">Doctors</a></li>
                                <!--<li class=""><a href="department">Departments</a></li>-->
                                <li class=""><a href="events.php">Events</a></li>
                                <li class=""><a href="gallery">Gallery</a></li>
                                <li class=""><a href="contact">Contact</a></li>
                            </ul>
                        </nav>
                        <!-- Main Menu End-->

                        <div class="outer-box">
                           
                             <a href="appointment.html" id="appointment-btn" class="theme-btn btn-style-one"><span class="btn-title">Appointment</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Sticky Header  -->
        <div class="sticky-header">
            <div class="auto-container">            

                <div class="main-box">
                    <div class="logo-box">
                        <div class="logo"><a href="index.php"><img class="nabh-logo-sticky"src="images/nabh-logo.png" alt=""/><img class="sharddha-logo-sticky"src="images/shraddhaLogo.png" alt="" title=""></a></div>
                    </div>
                    
                    <!--Keep This Empty / Menu will come through Javascript-->
                </div>
            </div>
        </div><!-- End Sticky Menu -->

        <!-- Mobile Header -->
        <div class="mobile-header">
            <div class="logo"><a href="index.php"><img class="nabh-logo-sticky"src="images/nabh-logo.png" alt=""/><img class="sharddha-logo-sticky"src="images/shraddhaLogo.png" alt="" title=""></a></div>

            <!--Nav Box-->
            <div class="nav-outer clearfix">

                <div class="outer-box">
                    <!-- Search Btn -->
                   
                    <a href="#nav-mobile" class="mobile-nav-toggler navbar-trigger"><span class="fa fa-bars"></span></a>
                </div>
            </div>
        </div>

        <!-- Mobile Nav -->
        <div id="nav-mobile"></div>

        <!-- Header Search -->
        <div class="search-popup">
            <span class="search-back-drop"></span>
            <button class="close-search"><span class="fa fa-times"></span></button>
            
            <div class="search-inner">
                <form method="post" action="http://ary-themes.com/html/bold_touch/medicoz/blog-showcase.html">
                    <div class="form-group">
                        <input type="search" name="search-field" value="" placeholder="Search..." required="">
                        <button type="submit"><i class="flaticon-magnifying-glass"></i></button>
                    </div>
                </form>
            </div>
        </div>
        <!-- End Header Search -->

    </header>            <!--End Main Header -->

            <!--Page Title-->
            <section class="page-title" style="background-image: url(images/aboutBrd1.jpg);">
                <div class="auto-container">
                    <div class="title-outer">            
                        <h1 style = "color:White">About Us</h1>
                        <ul class="page-breadcrumb">
                            <li><a href="index">Home</a></li>
                            <li>About</li>
                        </ul>
                    </div>
                </div>
            </section>
            <!--End Page Title-->

            <!-- About Section -->
            <section class="about-section">
                <div class="auto-container">
                    <div class="row">
                        <!-- Content Column -->
                        <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
                            <div class="inner-column">
                                <div class="sec-title">
                                    
                                    <h2>OUR HOSPITAL</h2>
                                    <span class="divider"></span>
                                   <p>Shraddha Polyclinic & Nursing Home is situated in Mulund West. Its inception was done on 26th January, 1996.  With a vision to offer the best in patient care and equipped with technologically advanced healthcare facilities, they are one of the upcoming names in the healthcare industry in suburbs. A team of well-trained medical staff, non-medical staff and experienced clinical technicians work round-the-clock to offer various services</p>
                                    <p>A team of doctors on board, including specialists, are equipped with the knowledge and expertise for handling various types of medical and surgical cases. It caters to various specialties like medicine, cardiology, surgery, orthopaedics, etc.                                It is a 37-bedded nursing home having well-equipped ICU with central monitoring station and OT with C-Arm. The hospital also has in-house ventilators, Dialysis machine, 2-D Echo and USG machine, Stress Test machine, computerized ECG reporting, etc. The hospital also provides free local ambulance service.</p>
                                </div>
                               
                            </div>
                        </div>

                        <!-- Images Column -->
                        <div class="images-column col-lg-6 col-md-12 col-sm-12">
                            <div class="inner-column">
                                <div class="video-link">
                                    <a href="https://www.youtube.com/watch?v=4UvS3k8D4rs" class="play-btn lightbox-image" data-fancybox="images"><span class="flaticon-play-button-1"></span></a>
                                </div>
                                <figure class="image-1"><img src="images/resource/image-1.png" alt=""></figure>
                                <figure class="image-2"><img src="images/about2.png" alt=""></figure>
                                <figure class="image-3">
                                    <span class="hex"></span>
                                    <img src="images/resource/image-3.png" alt="">
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End About Section -->

            <!-- Fun Fact Section Two-->
            <section class="fun-fact-section-two">
                <div class="auto-container">
                    <div class="row">
                        <!--Column-->
                        <div class="counter-column col-lg-3 col-md-6 col-sm-12 wow fadeInUp">
                            <div class="count-box">
                                <div class="icon-box"><span class="icon flaticon-user-experience"></span></div>
                                <h4 class="counter-title">Years of Experience</h4>
                                <span class="count-text" data-speed="3000" data-stop="25">0</span>
                            </div>
                        </div>

                        <!--Column-->
                        <div class="counter-column col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="400ms">
                            <div class="count-box">
                                <div class="icon-box"><span class="icon flaticon-team"></span></div>
                                <h4 class="counter-title">Medical Spesialities</h4>
                                <span class="count-text" data-speed="3000" data-stop="470">0</span>
                            </div>
                        </div>

                        <!--Column-->
                        <div class="counter-column col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="800ms">
                            <div class="count-box">
                                <div class="icon-box"><span class="icon flaticon-hospital"></span></div>
                                <h4 class="counter-title">Medical Spesialities</h4>
                                <span class="count-text" data-speed="3000" data-stop="689">0</span>
                            </div>
                        </div>

                        <!--Column-->
                        <div class="counter-column col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="1200ms">
                            <div class="count-box">
                                <div class="icon-box"><span class="icon flaticon-add-friend"></span></div>
                                <h4 class="counter-title">Happy Patients</h4>
                                <span class="count-text" data-speed="3000" data-stop="9036">0</span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Fun Fact Section Two -->

            <!-- Appointment Section Three -->
           <section class="appointment-section-three" style="background-image: url(images/background/2.jpg);">
    <div class="auto-container">
        <div class="row">

            <!-- Content Column -->
            <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
                <div class="inner-column">
                    <span class="title">Need a Doctor for Check-up?</span>
                    <h3>Just Make an Appointment <br>and You’re Done!</h3>
                    <div class="text">Hospital Landline Numbers : <strong>022-25646064/ 022-25675934</strong></div>
                    <div class="text">Call for Emergency and Home visit : <strong>022-25913625 / 8104202776</strong></div>
                    <div class="text">OPD :  <strong>022-25675437/8104317166</strong></div>
                    <div class="text">Office  :  <strong>022-25675935/ 8591588802</strong></div>


                </div>
            </div>

            <div class="form-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                    <div class="appointment-form default-form">
                        <!--Comment Form-->
                        <h3>Working Hours 24 x 7</h3>
                        <div class="timetable-info">
                            <h3>Office Hours</h3>
                            <ul class="timing-list">
                                <li>Monday - Saturday <span>09:00 AM - 09:00 PM</span></li>
                                <li>Sunday <span>10:00 AM - 05:00 PM</span></li>
                                
                            </ul>
                            <h4>For Mediclaim</h4>
                            <ul class="timing-list">                                    
                                <li>Monday - Saturday <span> 01:00 PM - 05:00 PM</span></li>
                            </ul>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
    </div>
</section>            <!--End Appointment Section Three -->

        
  
            <!-- Main Footer -->
            <footer class="main-footer">
    <!--Widgets Section-->
    <div class="widgets-section" style="background-image: url(images/background/7.jpg);">
        <div class="auto-container">
            <div class="row">
                <!--Big Column-->
                <div class="big-column col-xl-6 col-lg-12 col-md-12 col-sm-12">
                    <div class="row">
                        <!--Footer Column-->
                        <div class="footer-column col-xl-7 col-lg-6 col-md-6 col-sm-12">
                            <div class="footer-widget about-widget">
                                <div class="logo">
                                    <a href="index"><img src="images/shraddhaLogo.png" alt="" style="background-color: #ffffff;padding-top: 6px;" /></a>
                                </div>
                                <div class="text">
                                    <p>Shraddha Polyclinic & Nursing Home is situated in Mulund West. It was incepted on 26th january, 1996. Their professional services make them a sought after hospital in Mumbai.</p>
                                    <!--<p>We are among the most qualified implant providers in the AUS with over 30 years of quality training and experience.</p>-->
                                </div>
<!--                                <ul class="social-icon-three">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-skype"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>-->
                            </div>
                        </div>

                        <!--Footer Column-->
                        <div class="footer-column col-xl-5 col-lg-6 col-md-6 col-sm-12">
                            <div class="footer-widget">
                                <h2 class="widget-title">Our Doctors</h2>
                                <ul class="user-links">
                                    <li><a href="our_doctors.php">Dr. Sanjay Shah</a></li>
                                    <li><a href="our_doctors.php">Dr. Mahesh Thakkar</a></li>
                                    <li><a href="our_doctors.php">Dr. Nandini Shah</a></li>
                                    <li><a href="our_doctors.php">Dr. B.V. Rao</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Big Column-->
                <div class="big-column col-xl-6 col-lg-12 col-md-12 col-sm-12">
                    <div class="row">
                        <!--Footer Column-->
                        <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                            <!--Footer Column-->
                            <div class="footer-widget recent-posts">
                                <h2 class="widget-title">Quick Links</h2>
                                <ul class="user-links">
                                    <li><a href="index.php">Home</a></li>
                                    <li><a href="about.php">About</a></li>
                                    <li><a href="services.php">Services</a></li>
                                    <li><a href="events.php">Events</a></li>
                                    <li><a href="gallery.php">Gallery</a></li>
                                    <li><a href="contact.php">Contact</a></li>
                                </ul>
                            </div>
                        </div>

                        <!--Footer Column-->
                        <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                            <!--Footer Column-->
                            <div class="footer-widget contact-widget">
                                <h2 class="widget-title">Contact Us</h2>
                                <!--Footer Column-->
                                <div class="widget-content">
                                    <ul class="contact-list">
                                        <li>
                                            <span class="icon flaticon-placeholder"></span>
                                            <div class="text">1<sup>st</sup> Floor, Smruti Mandir, Ganesh Gawade Rd, Mulund West, Mumbai.</div>
                                        </li>

                                        <li>
                                            <span class="icon flaticon-call-1"></span>
                                            <a href="tel:022-25646064"><strong>022-25646064 </strong></a>
                                            <a href="tel:022-25675934"><strong>022-25675934</strong></a>
                                        </li>

                                        <li>
                                            <span class="icon flaticon-email"></span>
                                            <div class="text">Do you have a Question?<br>
                                                <a href="mailto:shraddhanhp@yahoo.com"><strong>shraddhanhp@yahoo.com</strong></a></div>
                                        </li>

                                        <li>
                                            <span class="icon flaticon-back-in-time"></span>
                                            <div class="text">
                                                <strong>OPEN 24 Hours</strong></div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Footer Bottom-->
    <div class="footer-bottom">
        <!-- Scroll To Top -->
        <div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>

        <div class="auto-container">
            <div class="inner-container clearfix">
                <div class="footer-nav">
                    <ul class="clearfix">
                        <li> <a href="https://octaveinfosys.com/" target="_blank">Design & Develop By octave infosys</a></li> 

                    </ul>
                </div>

                <div class="copyright-text">
                    <p>Copyright @ 2023                        | Shraddha Polyclinic and Nursing Home</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="js/jquery.js"></script> 
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.fancybox.js"></script>
<script src="js/jquery.modal.min.js"></script>
<script src="js/mmenu.polyfills.js"></script>
<script src="js/mmenu.js"></script>
<script src="js/appear.js"></script>
<script src="js/mixitup.js"></script>
<script src="js/owl.js"></script>
<script src="js/wow.js"></script>
<script src="js/script.js"></script>
<!-- Color Setting -->
<script src="js/color-settings.js"></script>            <!--End Main Footer -->

        </div><!-- End Page Wrapper -->

    </body>

</html>


