/*-----------------------------------------------
Theme: myMedical - Bootstrap Landing Page HTML Template
Version 1.0
Author: EXSYthemes
-----------------------------------------------
1. BODY
  - 1.1. Preloader
2. HEADER
3. CONTENT
  - 3.1. Main Slider
  - 3.2. About Us
  - 3.3. Service
  - 3.4. Work
  - 3.5. Our Gallery
  - 3.6. Our Personal
  - 3.7. Box
  - 3.8. Reviews
  - 3.9. News (Blog)
  - 3.10. Feedback
  - 3.11. Footer
4. RESPONSIVE
-----------------------------------------------*/

@charset "UTF-8";

/***********************************
			/* 1. BODY */
/***********************************/
@font-face {
	font-family: 'Myriad Pro';
	src: url('../fonts/MyriadPro-Regular.eot');
	src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MyriadPro-Regular.woff') format('woff'),
		url('../fonts/MyriadPro-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Myriad Pro';
	src: url('../fonts/MyriadPro-BoldIt.eot');
	src: url('../fonts/MyriadPro-BoldIt.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MyriadPro-BoldIt.woff') format('woff'),
		url('../fonts/MyriadPro-BoldIt.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Myriad Pro';
	src: url('../fonts/MyriadPro-SemiboldIt.eot');
	src: url('../fonts/MyriadPro-SemiboldIt.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MyriadPro-SemiboldIt.woff') format('woff'),
		url('../fonts/MyriadPro-SemiboldIt.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Myriad Pro';
	src: url('../fonts/MyriadPro-It.eot');
	src: url('../fonts/MyriadPro-It.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MyriadPro-It.woff') format('woff'),
		url('../fonts/MyriadPro-It.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Myriad Pro';
	src: url('../fonts/MyriadPro-Semibold.eot');
	src: url('../fonts/MyriadPro-Semibold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MyriadPro-Semibold.woff') format('woff'),
		url('../fonts/MyriadPro-Semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Myriad Pro';
	src: url('../fonts/MyriadPro-Bold.eot');
	src: url('../fonts/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MyriadPro-Bold.woff') format('woff'),
		url('../fonts/MyriadPro-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: 400;
  outline: none !important; 
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif; 
}

.container {
  max-width: 1170px; 
}

h2 {
  font-family: "Source Sans Pro";
  font-size: 29px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0; 
}

h3 {
  font-family: "Source Sans Pro";
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
  margin: 0; 
}

@keyframe {}header {
  width: 100%;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10; 
}

/* 1.1. Preloader */
.preloader {
  background: #fff;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99999;
}

.status-block {
  width: 86px;
  height: 86px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -43px 0 0 -43px;
  font-size: 10px;
  text-indent: -1236px;
  border-top: 3px solid rgba(0, 0, 0, 0.1);
  border-right: 3px solid rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
  border-left: 3px solid #3498db;
  border-radius: 50%;
  -webkit-animation: spinner 800ms infinite linear;
  animation: spinner 800ms infinite linear;
  z-index: 10000;
}

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
/* 1.1. END Preloader */

#goTop {
  position: fixed;
  bottom: 70px;
  right: 5px;
  z-index: 9999;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 37px;
  background: #1d1c28;
  border: 0;
  color: #fff;
  cursor: pointer;
  border-radius: 2px;
  text-decoration: none;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  transform: translate(50px, 0px);
  z-index: 9999;
}

#goTop.show {
  transform: translate(0px, 0px);
}

.show {
  display: block!important;
}

#goTop:hover {
  background: #fff;
  color: #1d1c28;
}
/***********************************
			/* 1. END BODY */
/***********************************/

/***********************************
			/* 2. HEADER */
/***********************************/
.head_top_line {
  width: 100%;
  background-color: #1d1c28;
  text-align: right;
  padding: 7px 0; 
}

a.tel_link,
a.mssg_link {
  display: inline-block;
  text-decoration: none;
  margin-left: 18px; 
}

a.tel_link i,
a.mssg_link i {
  color: #3498db;
  margin-right: 4px;
  font-size: 14px;
  display: inline-block;
  vertical-align: middle; 
}
  
a.tel_link span,
a.mssg_link span {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  -webkit-transition: .3s;
  transition: .3s; 
}

a.tel_link:hover span,
a.mssg_link:hover span {
  color: #3498db;
  -webkit-transition: all .3s;
  transition: all .3s; 
}

.head_social_links {
  display: inline-block;
  margin-left: 57px;
  padding-right: 15px; 
}

a.social_links {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  margin-left: 12px;
  text-decoration: none;
  -webkit-transition: .3s;
  transition: .3s; 
}

a.social_links:first-child {
  margin-left: 0; 
}
  
a.social_links:hover {
  color: #3498db;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.head_menu {
  padding: 8px 0;
  background-color: #fff;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.2);
}

a.head_logo {
  text-decoration: none; 
}

.wrap_head_nav {
  text-align: right;
  padding-top: 12px; 
}

.head_list {
  list-style-type: none;
  margin: 0;
  padding: 0; 
}

.head_list li {
  display: inline-block;
  margin-left: 10px; 
}

a.head_links {
  color: #202020;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: 'Myanmar Text';
  font-weight: 400;
  text-decoration: none;
  -webkit-transform: skewX(-15deg);
  -ms-transform: skewX(-15deg);
  transform: skewX(-15deg);
  display: inline-block;
  padding-bottom: 2px;
  padding-top: 10px;
  padding-left: 17px;
  padding-right: 14px;
  line-height: 1;
  -webkit-transition: .3s;
  transition: .3s;
}

a.head_links span {
  display: inline-block;
  font-size: 14px;
  font-family: 'Myanmar Text';
  -webkit-transform: skew(15deg);
  -ms-transform: skew(15deg);
  transform: skew(15deg);
  display: inline-block;
  font-weight: 600;
}

a.head_links.active {
  background-color: #3498db;
  color: #fff;
  -webkit-transition: all .3s;
  transition: all .3s; 
}

a.head_links:hover {
  background-color: #3498db;
  color: #fff;
  -webkit-transition: all .3s;
  transition: all .3s; 
}
/***********************************
			/* 2. END HEADER */
/***********************************/

/***********************************
			/* 3. CONTENT */
/***********************************/
/* 3.1. Main Slider */
.main_slider_section {
  width: 100%;
  display: block;
  background-image: url("../img/bg_screen.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 159px;
  padding-bottom: 150px;
  position: relative;
  margin-top: 101px; 
}

.main_slider_section .slider_item {
  display: block;
  padding-top: 10px; 
}

.main_slider_section .overlay_section {
  background-color: rgba(0, 1, 42, 0.82);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; 
}

.main_slider_section .container {
  position: relative;
  z-index: 2; 
}

.main_slider_section h1 {
  color: white;
  font-family: 'Myanmar Text';
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  margin: 0; 
}

.main_slider_section h1 span {
  font-family: 'Myanmar Text';
  font-size: 36px;
  font-weight: 700; 
}

.main_slider_section .slider_txt {
  display: block;
  margin: 0 auto;
  margin-top: 38px;
  max-width: 350px;
  font-family: 'Source Sans Pro';
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: #fff; 
}

.main_slider_section .slider_btn {
  display: block;
  text-align: center;
  margin-top: 57px; 
}

.main_slider_section .slick-prev:before, .main_slider_section .slick-next:before {
  display: none; 
}

.main_slider_section .slick-prev,
.main_slider_section .slick-next {
  width: 22px;
  height: 41px;
  background-repeat: no-repeat;
  background-position: center; 
}

.main_slider_section .slick-prev {
  background-image: url("../img/ic_keyboard_arrow_left_white_36dp_1x.png"); 
}

.main_slider_section .slick-next {
  background-image: url("../img/ic_keyboard_arrow_right_white_36dp_1x.png"); 
}

a.btn {
  display: inline-block;
  color: #fff !important;
  font-family: "Source Sans Pro";
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 33px;
  padding-right: 33px;
  background-color: #3498db;
  -webkit-border-radius: 0;
  border-radius: 0;
  line-height: 1;
  overflow: hidden;
  position: relative;
  border: none;
  -webkit-transition: .3s;
  transition: .3s; 
}

a.btn span {
  display: inline-block;
  position: absolute;
  width: 69px;
  height: 100%;
  top: 0;
  right: -100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #1d1c28;
  -webkit-transform: skewX(-15deg);
  -ms-transform: skewX(-15deg);
  transform: skewX(-15deg);
  -webkit-transition: .3s;
  transition: .3s; 
}

a.btn span img {
  -webkit-transform: skewX(15deg);
  -ms-transform: skewX(15deg);
  transform: skewX(15deg); 
}

a.btn:hover {
  padding-right: 87px;
  -webkit-transition: all .3s;
  transition: all .3s; 
}
  
a.btn:hover span {
  right: -15px;
  -webkit-transition: all .3s;
  transition: all .3s; 
}
/* 3.1. END Main Slider */

/* 3.2. About Us */
.about_us_section {
  width: 100%;
  display: block;
  overflow: hidden; 
}

.about_us_section .left_content,
.about_us_section .right_content {
  padding-top: 50px; 
}

.about_us_section .right_content {
  padding-left: 128px;
  position: relative;
  padding-top: 30px;
  padding-bottom: 20px;
  color: #fff; 
  text-align: right;
}

.about_us_section .right_content:before {
  content: "";
  width: 49.6vw;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/bg_content.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  opacity: .92; 
}

.about_us_section .section_txt {
  margin: 0;
  margin-top: 10px;
  color: #202020;
  font-size: 14px;
  font-weight: 400;
}

.about_us_section h3 {
  position: relative;
  z-index: 2;
  font-size: 29px;
  padding-left: 50px; 
  text-transform: uppercase;
  text-shadow: 1px 0px 2px rgba(0, 0, 0, .6);
}

.about_us_section ul {
  display: inline-block;
  position: relative;
  z-index: 2;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 10px; 
  margin-bottom: 0px;
}

.about_us_section ul li {
  font-family: 'Source Sans Pro';
  font-size: 14px;
  font-weight: 600;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 5px;
  text-shadow: 1px 0px 2px rgba(0, 0, 0, .6);
}

.about_us_section ul li:last-child {
  margin-bottom: 0; 
}

.about_us_section h2 {
}

.about_us_section .date_list {
  margin-right: 60px; 
}
/* 3.2. About Us */

/* 3.3. Service */
.service_section {
  display: block;
  width: 100%;
  padding-top: 50px;
  overflow: hidden; 
  margin-bottom: 30px;
}

.service_section .icon_item {
  display: inline-block;
  width: 82px;
  height: 82px;
  text-align: center;
  border: 3px solid #81ccff;
  float: left;
  position: relative;
  margin-right: 25px;
  -webkit-transition: .3s;
  transition: .3s; 
}

.service_section h2 {
  font-family: "Source Sans Pro";
  font-size: 29px;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 0;
  padding-bottom: 25px;
}

.service_section .icon_item svg {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%; 
}

.service_section .icon_item svg path {
  -webkit-transition: .3s;
  transition: .3s; 
}

.service_section h3 {
  color: #202020;
  font-family: "Source Sans Pro";
  font-size: 16px;
  font-weight: 700;
  position: relative;
  text-transform: uppercase;
  display: table-cell;
  margin-bottom: 0;
  vertical-align: middle;
  height: 82px;
}

.service_section .description_service {
  margin-top: 34px;
  font-family: 'Myriad Pro';
  font-weight: 400;
  font-size: 14px;
  line-height: 18px; 
}

.service_box {
  margin-bottom: 35px; 
  padding: 0;
}

.service_box:hover .icon_item {
  background-color: #81ccff;
  -webkit-transition: all .3s;
  transition: all .3s; 
}

.service_box:hover .icon_item svg path {
  fill: #fff;
  -webkit-transition: all .3s;
  transition: all .3s; 
}
/* 3.3. END Service */

/* 3.4. Work */
.about_work_section {
  display: block;
  width: 100%;
  overflow: hidden;
  padding-bottom: 57px; 
  position: relative;
  background: #f0f9ff;
}

.about_work_section .left_holder {
  position: relative;
  padding-top: 60px;
  padding-bottom: 0;
  padding-right: 0; 
  padding-left: 0;
}
  
.about_work_section h2 {
  position: relative;
  z-index: 2;
  font-size: 29px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase; 
}

.about_work_section .sub_title {
  position: relative;
  z-index: 2;
  margin-top: 20px;
  display: inline-block;
  font-family: 'Myriad Pro';
  font-size: 14px;
  font-weight: 400;
  width: 50%;
}

.about_work_section .item_image {
  position: absolute;
  top: 20px;
  right: 0;
  z-index: 2;
  border: 11px #fff solid; 
}

.about_work_section .right_holder {
  padding-top: 55px; 
}

.about_work_section .holder_list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-width: 400px;
  width: 100%;
  float: right; 
}
  
.about_work_section .holder_list li {
  margin-bottom: 10px; 
}

.about_work_section .open_txt {
  display: block;
  width: 100%;
  padding: 13px 10px 6px 24px;
  border: 1px solid #81ccff;
  color: #202020;
  font-family: "Source Sans Pro";
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  position: relative; 
}

.about_work_section .open_txt:before {
  content: "+";
  font-size: 24px;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  right: 6px;
  top: 50%;
  position: absolute;
  color: #81ccff;
  font-family: "Source Sans Pro";
  font-size: 48px;
  font-weight: 400;
  line-height: 1;
  display: inline-block;
  padding-top: 18px;
  -webkit-transition: .3s;
  transition: .3s; 
}

.about_work_section .open_txt.active {
  background-color: #3498db;
  border-color: #3498db;
  color: #fff;
  -webkit-transition: .3s;
  transition: .3s; 
}

.about_work_section .open_txt.active:before {
  content: "-";
  color: #fff;
  right: 12px; 
}

.about_work_section .open_txt:hover {
  background-color: #3498db;
  border-color: #3498db;
  color: #fff;
  -webkit-transition: all .3s;
  transition: all .3s; 
}

.about_work_section .open_txt:hover:before {
  color: #fff;
  -webkit-transition: all .3s;
  transition: all .3s; 
}

.about_work_section .holder_txt {
  color: #202020;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Source Sans Pro';
  text-align: justify;
  margin: 10px 0 10px 0;
  display: none; 
}
/* 3.4. END Work */

/* 3.5. Our Gallery */
.our_gallery {
  width: 100%;
  display: block;
  background-repeat: no-repeat;
  background-position: top;
  padding-top: 60px; 
}

.our_gallery h2 {
  font-family: "Source Sans Pro";
  font-size: 29px;
  font-weight: 700;
  text-transform: uppercase; 
}

.our_gallery .sub_subject {
  margin-top: 20px;
  color: #202020;
  font-family: "Source Sans Pro";
  font-size: 14px;
  font-weight: 400;
  display: block; 
}

.our_gallery .tabs_box {
  text-align: center;
  margin-top: 25px; 
}

.our_gallery .tabs_link {
  display: inline-block;
  margin: 0 4px;
  -webkit-transform: skewX(-15deg);
  -ms-transform: skewX(-15deg);
  transform: skewX(-15deg);
  border: 2px solid #81ccff;
  text-decoration: none;
  padding: 0 15px 0 15px;
  -webkit-transition: .3s;
  transition: .3s; 
}

.our_gallery .tabs_link span {
  display: inline-block;
  -webkit-transform: skewX(15deg);
  -ms-transform: skewX(15deg);
  transform: skewX(15deg);
  color: #202020;
  font-family: "Source Sans Pro";
  font-size: 14px;
  font-weight: 600;
  line-height: 30px;
  text-transform: uppercase;
  -webkit-transition: .3s;
  transition: .3s;
}

.our_gallery .tabs_link.active {
  background-color: #3498db;
  border-color: #3498db; 
}

.our_gallery .tabs_link.active span {
  color: #fff; 
}

.our_gallery .tabs_link:hover {
  background-color: #3498db;
  border-color: #3498db;
  -webkit-transition: all .3s;
  transition: all .3s; 
}

.our_gallery .tabs_link:hover span {
  color: #fff;
  -webkit-transition: all .3s;
  transition: all .3s; 
}

.our_gallery .gallery {
  font-size: 0;
  margin-top: 35px; 
}

.our_gallery .slick-slider .slick-track, .our_gallery .slick-slider .slick-list {
  width: 100% !important;
  display: block;
  -webkit-transform: none !important;
  -ms-transform: none !important;
  transform: none !important;
  height: 100% !important; 
}
 
.our_gallery .gallery_item {
  display: inline-block;
  width: 20% !important;
  position: relative;
  overflow: hidden;
  -webkit-transition: all .5s;
  transition: all .5s; 
}

.our_gallery .gallery_item img {
  width: 100%;
  height: 100%; 
}

.our_gallery .overlay_gallery_item {
  position: absolute;
  top: 110%;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 25px 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.95);
  opacity: 1;
  cursor: pointer;
  -webkit-transition: all .5s;
  transition: all .5s; 
}

.our_gallery .overlay_gallery_item svg {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%; 
}

.our_gallery .position {
  display: block;
  color: #202020;
  font-family: "Source Sans Pro";
  font-size: 18px;
  font-weight: 600;
  line-height: 36px; 
  text-transform: uppercase;
}

.our_gallery .name {
  color: #202020;
  font-family: "Source Sans Pro";
  font-size: 14px;
  font-style: italic;
}

.our_gallery .gallery_item:hover .overlay_gallery_item {
  top: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.our_gallery .slick-cloned {
  display: none !important; 
}
/* 3.5. END Our Gallery */

/* 3.6. Our Personal */
.our_personal_section {
  display: block;
  width: 100%;
  background-repeat: no-repeat;
  background-position: top;
  padding-top: 43px; 
}

.our_personal_section .container {
  max-width: 1170px; 
}

.our_personal_section h2 {
  padding-left: 15px;
  font-family: "Source Sans Pro";
  font-size: 29px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 25px;
}

.our_personal_section .sub_subject {
  color: #202020;
  font-family: "Source Sans Pro";
  font-size: 14px;
  font-weight: 400;
  margin-top: 20px;
  display: block;
  padding-left: 15px; 
}

.our_personal_section .personal_box {
  margin-top: 30px; 
}

.our_personal_section .box {
  border: 2px solid #81ccff;
  overflow: hidden;
  background-color: #fff;
  color: #202020;
  -webkit-transition: .3s;
  transition: .3s; 
  min-height: 465px;
}

.our_personal_section .person_img {
  display: block; 
}

.our_personal_section .person_img img {
  width: 100%; 
}

.our_personal_section .persone_txt_overlay {
  -webkit-transform: skewY(-13deg);
  -ms-transform: skewY(-13deg);
  transform: skewY(-13deg);
  margin-top: -60px;
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: #FFF;
  -webkit-transition: .3s;
  transition: .3s; 
}

.our_personal_section .persone_txt {
  -webkit-transform: skewY(13deg);
  -ms-transform: skewY(13deg);
  transform: skewY(13deg); 
}

.our_personal_section .persone_name {
  display: block;
  font-family: "Source Sans Pro";
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  -webkit-transition: .1s;
  text-transform: uppercase;
  transition: .1s; 
}
  .our_personal_section .persone_position {
  display: block;
  font-family: "Source Sans Pro";
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  -webkit-transition: .1s;
  transition: .1s; 
  font-style: italic;
}

.our_personal_section .persone_description {
  font-family: "Source Sans Pro";
  font-size: 14px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  -webkit-transition: .1s;
  transition: .1s; 
}

.our_personal_section .wrap_persone_soc_links {
  text-align: center;
  margin-top: 25px;
  display: block;
}

.our_personal_section .persone_soc_links {
  text-decoration: none;
  color: #3498db;
  font-size: 22px;
  margin: 0 2px;
  border: 1px #3498db solid;
  padding: 0 15px;
  -webkit-transform: skewX(-15deg);
  -ms-transform: skewX(-15deg);
  transform: skewX(-15deg);
  display: inline-block; 
}

.our_personal_section .persone_soc_links i {
  -webkit-transform: skewX(15deg);
  -ms-transform: skewX(15deg);
  transform: skewX(15deg);
  display: inline-block; 
}
/* 3.6. END Our Personal */

/* 3.7. Box */
.box:hover {
  border-color: #fff;
  background-color: #3498db;
  -webkit-transition: all .3s;
  transition: all .3s; 
}
.box:hover .persone_txt_overlay {
  background-color: #3498db;
  -webkit-transition: all .3s;
  transition: all .3s; 
}

.box:hover .persone_soc_links {
  color: #fff;
  border-color: #fff;
  -webkit-transition: all .1s;
  transition: all .1s; 
}

.box:hover .persone_soc_links:hover {
  color: #3498db;
  background-color: #fff;
  border-color: #fff; 
}

.box:hover .persone_description,
.box:hover .persone_name,
.box:hover .persone_position {
  color: #fff;
  -webkit-transition: all .1s;
  transition: all .1s; 
}
/* 3.7. END Box */

/* 3.8. Reviews */
.reviews_section {
  padding-top: 60px; 
}

.reviews_section .container {
  max-width: 1170px; 
}

.reviews_section h2 {
  padding: 0 15px;
  font-family: "Source Sans Pro";
  font-size: 29px;
  font-weight: 700;
  text-transform: uppercase; 
}

.reviews_section .reviews_slider {
  padding: 0;
  width: 100%;
  margin-top: 30px; 
}

.reviews_section .reviews_box {
  padding: 0; 
}

.reviews_section .reviews {
  text-align: center; 
}

.reviews_section .user_box {
  display: inline-block;
  text-align: center;
  margin-right: 25px;
  vertical-align: top; 
}
.reviews_section .user_img {
  display: inline-block;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 1px #ccc solid;
  position: relative; 
}

.reviews_section .user_name {
  display: block;
  margin-top: 30px;
  color: #202020;
  font-family: "Source Sans Pro";
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.reviews_section .user_position {
  color: #202020;
  font-family: "Source Sans Pro";
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
}

.reviews_section .users_text {
  padding-top: 35px;
  max-width: 270px;
  display: inline-block;
  color: #202020;
  font-family: "Source Sans Pro";
  font-size: 14px;
  text-align: left;
  position: relative; 
}

.reviews_section .users_text:before {
  content: "";
  width: 41px;
  height: 20px;
  background-image: url("../img/us_before.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0; 
}

.reviews_section .slick-prev:before, .reviews_section .slick-next:before {
  display: none; 
}

.reviews_section .slick-prev, .reviews_section .slick-next {
  width: 22px;
  height: 41px;
  z-index: 9;
  opacity: .6; 
}

.reviews_section .slick-prev:hover, .reviews_section .slick-next:hover {
  opacity: 1;
  -webkit-transition: all .3s;
  transition: all .3s; 
}

.reviews_section .slick-prev {
  background-image: url("../img/left_arr.png");
  background-position: center;
  background-repeat: no-repeat;
  left: 0; 
}

.reviews_section .slick-next {
  background-image: url("../img/right_arr.png");
  background-position: center;
  background-repeat: no-repeat;
  right: 0; 
}
/* 3.8. END Reviews */

/* 3.9. News (Blog) */
.blog_section {
  width: 100%;
  display: block;
  background-color: #f0f9ff;
  padding: 50px 0;
  margin-top: 45px; 
}

.blog_section .container {
  max-width: 1170px; 
}

.blog_section h2 {
  padding: 0 15px;
}

.blog_section .sub_subject {
  padding: 0 15px;
  display: block;
  color: #202020;
  font-family: "Source Sans Pro";
  font-size: 14px;
  font-weight: 500;
  margin-top: 10px; 
}

.blog_section .blog_news_box {
  margin-top: 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; 
}

.blog_section .news_img {
  display: inline-block;
  position: relative; 
}

.blog_section .news_img img{
  max-width: 228px;
  max-height: 260px;
}

.blog_section .news_img:before {
  content: "";
  position: absolute;
  top: 0;
  right: -40px;
  background-color: #f0f9ff;
  -webkit-transform: skewX(15deg);
  -ms-transform: skewX(15deg);
  transform: skewX(15deg);
  height: 100%;
  width: 77px; 
}

.blog_section .news_txt_box {
  display: inline-block;
  text-align: left;
  position: relative;
  z-index: 2;
  padding-left: 15px; 
}

.blog_section .news_title {
  display: block;
  color: #202020;
  font-family: "Myriad Pro";
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase; 
}
 
.blog_section .news_date,
.blog_section .news_count_comments {
  display: block;
  font-family: "Source Sans Pro";
  font-size: 14px;
  font-style: italic;
  margin-top: 5px; 
}

.blog_section .news_count_comments i {
  font-size: 14px;
  margin-right: 5px; 
}

.blog_section .news_text {
  color: #202020;
  font-family: "Source Sans Pro";
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px;
  display: block;
}

.blog_section .btn {
  margin-left: -85px;
  margin-top: 5px;
}

.blog_section .news_text {
  display: inline-block;
  max-width: 320px; 
}
/* 3.9. END News (Blog) */

/* 3.10. Feedback */
.feedback_section {
  width: 100%;
  display: block;
  padding-top: 50px;
  position: relative;
  padding-bottom: 65px; 
}

.feedback_section h2 {
  font-family: "Source Sans Pro";
  font-size: 29px;
  font-weight: 700;
  text-transform: uppercase; 
}

.feedback_section .sub_subject {
  display: block;
  margin-top: 0;
  color: #202020;
  font-family: "Source Sans Pro";
  font-size: 14px;
  font-weight: 500;
  line-height: 24px; 
}

.feedback_section form {
  display: block;
  margin-top: 10px; 
}

.feedback_section .wrap_input_box {
  display: inline-block;
  max-width: 239px;
  width: 100%;
  margin-right: 25px;
  vertical-align: top;
  margin-bottom: 20px;
  position: relative; 
}
 
.feedback_section .wrap_input_box label {
  position: absolute;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  top: 52%;
  left: 21px;
  color: #8c8c8c;
  font-family: "Myriad Pro";
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 0;
  -webkit-transition: .3s;
  transition: .3s; 
}

.feedback_section input {
  display: inline-block;
  width: 100%;
  height: 45px;
  border: 1px solid #8c8c8c;
  padding: 0 21px; 
}

.feedback_section .wrap_input_box.message {
  max-width: 507px; 
}

.feedback_section .wrap_input_box.message label {
  top: 18px; 
}

.feedback_section textarea {
  width: 100%;
  display: block;
  border: 1px solid #8c8c8c;
  resize: none;
  background-color: #fff;
  height: 135px;
  padding: 14px 21px; 
}

.feedback_section input[type=submit] {
  background-color: #3498db;
  max-width: 239px;
  border: 2px #3498db solid;
  float: right;
  margin-right: 47px;
  color: #feffff;
  font-family: "Source Sans Pro";
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: all .3s;
  transition: all .3s; 
}

.feedback_section input[type=submit]:hover {
  color: #3498db;
  background-color: #fff;
  -webkit-transition: all .3s;
  transition: all .3s; 
}

.feedback_section .wrap_input_box label.active {
  top: 10px;
  font-size: 11px;
  -webkit-transition: all .3s;
  transition: all .3s; 
}

.feedback_section .img_feedback {
  position: absolute;
  bottom: 0;
  left: 55%; 
}
/* 3.10. END Feedback */

/* 3.11. Footer */
footer {
  display: block;
  background-color: #f0f9ff;
  padding-top: 64px; 
}

.wrap_footer_txt {
  vertical-align: top; 
}

.top_footer_line {
  padding-bottom: 65px; 
}

.footer_txt {
  color: #202020;
  font-family: "Source Sans Pro";
  font-size: 14px;
  margin-top: 47px; 
}

.quick_links_list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: 60px; 
}

.quick_links_list li {
  padding-left: 20px;
  position: relative;
  padding-top: 3px; 
}

.quick_links_list li:before {
  content: '';
  background-image: url("../img/smaller_arr.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 15px;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  top: 50%;
  left: 0;
  height: 100%;
  position: absolute; 
}

.quick_links_list li a {
  position: relative;
  display: inline-block;
  color: #202020;
  font-family: "Source Sans Pro";
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: .3s;
  transition: .3s; 
}

.quick_links_list li a:hover {
  color: #3498db;
  -webkit-transition: all .3s;
  transition: all .3s; 
}

.quick_links_list .name_list {
  color: #202020;
  font-family: "Source Sans Pro";
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
  padding-left: 0; 
}

.quick_links_list .name_list:before {
  display: none; 
}

.contact_links_list {
  list-style-type: none;
  margin: 0;
  padding: 0; 
}

.contact_links_list li {
  position: relative;
  padding-top: 3px;
  margin-bottom: 5px; 
}

.contact_links_list li a {
  position: relative;
  display: inline-block;
  color: #202020;
  font-family: "Source Sans Pro";
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  -webkit-transition: .3s;
  transition: .3s; 
}

.contact_links_list li a:hover {
  color: #3498db;
  -webkit-transition: all .3s;
  transition: all .3s; 
}

.contact_links_list li i {
  margin-right: 10px;
  color: #3498db;
  height: 100%; 
}

.contact_links_list li i.fa-map-marker {
  margin-left: 4px;
  margin-right: 15px;
}

.contact_links_list li i.fa-phone {
  margin-left: 1px;
  margin-right: 12px;
}

.contact_links_list .name_list {
  color: #202020;
  font-family: "Source Sans Pro";
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
  padding-left: 0; 
}

.contact_links_list .name_list:before {
  display: none; 
}

.bottom_footer_line {
  width: 100%;
  background-color: #1d1c28; 
}

.bottom_footer_line .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 13px;
  padding-bottom: 13px; 
}
  
.bottom_footer_line .row:before, .bottom_footer_line .row:after {
  display: none; 
}

.copyright {
  color: #fffefe;
  font-family: "Source Sans Pro";
  font-size: 14px;
  line-height: 24px; 
}

.copyright a {
  color: #fffefe;
}

a.foot_soc_links {
  font-size: 19px;
  font-weight: 700;
  margin: 0 10px;
  color: #fff;
  text-decoration: none;
  -webkit-transition: .3s;
  transition: .3s; 
}

  a.foot_soc_links:hover {
  color: #3498db;
  -webkit-transition: all .3s;
  transition: all .3s; 
}

#nav-icon3 {
  display: none; 
}

#nav-icon1, 
#nav-icon2, 
#nav-icon3, 
#nav-icon4 {
  width: 40px;
  height: 28px;
  position: relative;
  margin: 0 auto;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer; 
}

#nav-icon1 span, 
#nav-icon3 span, 
#nav-icon4 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #3498db;
  -webkit-border-radius: 9px;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out; 
}

#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2), 
#nav-icon3 span:nth-child(3) {
  top: 12px; 
}

#nav-icon3 span:nth-child(4) {
  top: 24px; 
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%; 
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); 
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); 
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%; 
}
/* 3.11. END Footer */
/***********************************
			/* 3. END CONTENT */
/***********************************/

/***********************************
			/* 4. RESPONSIVE */
/***********************************/
@media only screen and (max-width: 1200px) {
  .main_slider_section .slick-next {
    right: 10px; 
  }
  .main_slider_section .slick-prev {
    left: 10px; 
  }
  .blog_section .news_img:before {
    right: -50px; 
  }
  .slick-prev:before {
    position: absolute;
    top: 0;
    right: 100%; 
  }
  .slick-next:before {
    position: absolute;
    top: 0;
    left: 100%; 
  }
  .our_personal_section {
    padding-top: 95px; 
  } 
}

@media only screen and (max-width: 1024px) {
  .our_gallery .name {
    font-size: 14px; 
  }
  .about_work_section .sub_title{
  	width: 100%;
  	padding-bottom: 0;
  }
  .about_work_section .item_image{
  	display: none;
  }
}

@media only screen and (max-width: 991px) {
  a.head_links span {
    font-size: 12px; 
  }
  .head_list li {
    margin-left: 8px; 
  }
  .about_us_section .left_content, .about_us_section .right_content {
    width: 100%; 
  }
  .about_us_section .right_content {
    padding-left: 0;
    padding-right: 0;
    text-align: center; 
  }
  .about_us_section .right_content {
    margin-top: 20px; 
  }
  .about_us_section ul {
    text-align: left; 
  }
  .about_us_section .right_content:before {
    width: 100%;
    background-position: right; 
  }
  .about_work_section .left_holder {
    padding-left: 15px;
    padding-right: 60px; 
  }
  .about_work_section .left_holder:before {
    width: 100%;
    background-position: left; 
  }
  .about_work_section .item_image {
    right: 0;
    top: 320px;
    width: 100%;
    border: none; 
  }
  .about_work_section .item_image img {
    width: 100%; 
  }
  .about_work_section .right_holder {
    padding-top: 15px; 
  }
  .blog_section .news_img:before {
    right: -35px; 
  }
  .blog_section .blog_news_box a.btn {
    margin-top: 0;
    margin-left: 0;
    display: block; 
  }
  .feedback_section .img_feedback {
    display: none; 
  }
  .feedback_section input[type=submit] {
    float: none; 
  }
  .blog_section .news_text {
    max-width: 100%; 
  }
  .blog_section .blog_news_box a.btn {
    max-width: 300px; 
  }
  .our_gallery .gallery_item:hover .overlay_gallery_item {
    padding: 15px; 
  } 
}

@media only screen and (max-width: 767px) {
  #nav-icon3 {
    display: inline-block;
    margin-top: 12px;
    margin-right: 15px;
    float: right; 
  }
  .head_list li {
    margin: 0; 
  }
  .head_list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; 
  }
  .wrap_head_nav {
    display: none; 
  }
  .our_gallery .gallery_item {
    width: 50% !important; 
  }
  .our_gallery .sub_subject {
    padding-right: 15px; 
  }
  .wrappper_slider_gallery .slider_gallery {
    width: 70%;
  }
  .our_gallery .slick-slider .slick-track {
    text-align: center; 
  }
  .about_work_section .item_image {
    display: none; 
  }
  .about_work_section .holder_list {
    max-width: 100%; 
  }
  .our_gallery h2 {
    padding-left: 15px;
    padding-right: 15px; 
  }
  .our_gallery .sub_subject {
    padding-left: 15px; 
  }
  .reviews_section .users_text {
    max-width: 100%;
    padding-top: 20px;
  }
  .reviews_section .reviews {
    margin-bottom: 20px; 
  }
  .reviews_section .slick-next {
    right: 15px; 
  }
  .reviews_section .slick-prev {
    left: 15px; 
  }
  .quick_links_list {
    display: none;
  }
  .contact_links_list {
    padding: 0 15px; 
  } 
  .about_work_section .sub_title{
  	width: 100%;
  	padding-bottom: 60px;
  }
  .about_work_section {
    padding-bottom: 0;
  }
}

@media only screen and (max-width: 650px) {
  .our_gallery .tabs_box {
    padding: 0 15px;
    padding-right: 20px; 
  }
  .our_gallery .tabs_link {
    width: 100%;
    margin-bottom: 10px;
  }
  .service_box {
    width: 100%;
    margin-bottom: 50px; 
  }
  .our_gallery .sub_subject,
  .our_gallery .tabs_box {
    margin-top: 20px; 
  }
  .about_work_section {
    padding-bottom: 0; 
  } 
}

@media only screen and (max-width: 561px) {
  .head_list {
    display: block; 
  }
  .head_list li {
    width: 100%;
    margin-bottom: 10px; 
  }
  a.head_links {
    width: 100%;
    text-align: left; 
  }
  .feedback_section .wrap_input_box {
    margin-right: 0;
    max-width: 100%; 
  }
  .feedback_section .wrap_input_box.message {
    max-width: 100%; 
  }
  .feedback_section input[type=submit] {
    float: right;
    margin-right: 0; 
  }
  h2 {
    font-size: 32px !important; 
  }
  .blog_section .news_img:before {
    display: none; 
  }
  .wrappper_slider_gallery .slider_gallery img {
    width: 100%; 
  }
  .wrappper_slider_gallery .slick-prev:before, .wrappper_slider_gallery .slick-next:before {
    font-size: 24px; 
  }
  .wrappper_slider_gallery .close_slider svg {
    width: 24px;
    height: 24px; 
  }
  .main_slider_section h1 {
    font-size: 46px;
    padding-left: 15px;
    padding-right: 15px; 
  }
  .main_slider_section h1 span {
    font-size: 36px; 
  }
  .main_slider_section .slider_txt {
    padding-left: 15px;
    padding-right: 15px; 
  }
  .main_slider_section {
    padding-top: 55px;
    padding-bottom: 55px;
  } 
}

@media only screen and (max-width: 480px) {
  .head_social_links {
    display: none;
  }
  .our_personal_section .personal_box {
    width: 100%;
  }
  .blog_section .blog_news_box {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .blog_section .news_txt_box {
    width: 100%;
    display: block;
    padding-left: 0; 
  }
  .blog_section .news_img {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 15px; 
  }
  .blog_section .news_img img {
      width: 100%;
  }
  a.tel_link, a.mssg_link {
    margin: 0 15px;
  }
  .wrap_footer_txt {
    width: 100%; 
  }
  .contact_links_list {
    width: 100%;
  }
  .footer_logo {
    display: block;
    width: 100%;
    text-align: center; 
  }
  a.tel_link span, a.mssg_link span {
    font-size: 12px; 
  }
  a.tel_link, a.mssg_link {
    margin: 0 10px;
  }
  .main_slider_section h1 {
    font-size: 36px;
  }
  .main_slider_section h1 span {
    font-size: 32px; 
  } 
}
/***********************************
			/* 4. END RESPONSIVE */
/***********************************/