<!-- appointment_form.html -->
{% extends 'poly_app/base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}Doctor's Enrollment-Admin{% endblock %}
    
    
</head>
<body>
    <div class="container mt-5">
        <h2 class="mb-4">New Doctor's Portfolio</h2>
        <form method="post" class="needs-validation" novalidate>
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="{{ form.name.id_for_label }}">Doctor's Name</label>
                    {{ form.name }}
                    <div class="invalid-feedback">
                        Please provide a valid patient name.
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="{{ form.patient_age.id_for_label }}">Age</label>
                    {{ form.age }}
                    <div class="invalid-feedback">
                        Please provide a valid patient age.
                    </div>
                </div>
                </div>
                <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="{{ form.mobile_number.id_for_label }}">Contact No.</label>
                    {{ form.mobile_number }}
                    <div class="invalid-feedback">
                        Please provide a valid Contact Number.
                    </div>
                </div>
                
                
                <div class="col-md-6 mb-3">
                    <label for="{{ form.doctor.id_for_label }}">Doctor</label>
                    {{ form.doctor }}
                    <div class="invalid-feedback">
                        Please select a doctor.
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="{{ form.date_of_appointment.id_for_label }}">Appointment Date</label>
                    {{ form.date_of_appointment }}
                    <div class="invalid-feedback">
                        Please provide a valid appointment date.
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="{{ form.type_of_visit.id_for_label }}">Type of Visit</label>
                    {{ form.type_of_visit }}
                    <div class="invalid-feedback">
                        Please provide a valid type of visit.
                    </div>
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Make Appointment</button>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
{% endblock %}
</html>
